* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/bg.png");
}

.content {
	max-width: 1300px;
	margin: auto;
}

.header {
	padding-bottom: 3%;
}

#img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	margin-top: 5px;
	height: auto;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav {
	font-size: 20px;
	padding: 0;
}

p {
	text-align: center;
	font-size: 40px;
	padding: 30px;
	margin:5px;
	 font-family: 'FS Elliot Pro';
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/fs-elliot-pro/FSElliotPro-Light.eot');
    src: local('FS Elliot Pro Light'), local('FSElliotPro-Light'),
        url('FSElliotPro-Light.eot?#iefix') format('embedded-opentype'),
        url('FSElliotPro-Light.woff2') format('woff2'),
        url('FSElliotPro-Light.woff') format('woff'),
        url('FSElliotPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.div {
	background-color: lightblue;
	width: auto;
	height: 90px;
	overflow: none;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    border-radius: 6px;
   
}

#trans {
	-webkit-transition: opacity 5s ease-in-out; /* Safari 4.0 - 8.0 */
	transition: opacity 5s ease-in-out;
	opacity: 1;
}

@keyframes example {
    0%   {background-color: #6c757d;}
    25%  {background-color: #fff;}
    50%  {background-color: powderblue;}
    100% {background-color:#007bff;}
}


.socila_links{
	position: absolute;
	right: 10px;
	top:125%;
	transform: translateY(-50%);
	padding-right: 60px;
	margin: 0;
	list-style: none;
	font-size:25px;
}

.chat_icon{
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1000;
	padding-right: 45px;
	font-size: 80px;
	color: dodgerblue;
	cursor: pointer;
}

@media only screen and (min-width:990px)and (max-width:1199px) {
  /* For tablets: */
  .content {
    width: 85%;
    padding: 0;
  }
  
  .chat_icon{
	font-size: 50px;
	
  }

  .socila_links{
	position: absolute;
	right: 10px;
	top:110%;
	font-size:25px;
  }

  .div {
	height: 200px;
  }

}


@media only screen and (min-width:800px)and (max-width:990px) {
  /* For tablets: */
  .content {
    width: 85%;
    padding: 0;
  }
  
  .chat_icon{
	font-size: 50px;
	
  }

  .socila_links{
	position: absolute;
	right: 10px;
	top:92%;
	font-size:25px;
	padding-bottom: 0;
  }

  .div {
	height: 200px;
  }

  footer {
	margin-top: 30%;
	padding: 0;
  }

  #img {
	margin-top: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 0;
	height: 1000px;
  }

}

@media only screen and (max-width:800px) {
  /* phones */
  .content {
    width: 80%;
    padding: 0;
  }
  
  .chat_icon{
	font-size: 50px;
	
  }

  .socila_links{
	position: fixed;
	right: 10px;
	top:82%;
	font-size:25px;
  }

  .div {
	height: 320px;
  }

  footer {
	margin-top: 7%;
	padding: 0;
  }

  #img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 0;
	height: 240px;
  }

  p {
	padding: 0;
	margin: 0;
  }

}
 
@media only screen and (max-width: 500px) {
 	/* For mobile */
  .content {
 		width: 85%;
  }

  .div {
	height: 320px;
  }

  .chat_icon{
 	top: 89%;
	font-size: 30px;
	padding: 0;
  }

  .socila_links{
	position: fixed;
	top:82%;
	margin-left: 10%;
	font-size:25px;
	padding: 0;
  }

  footer {
	margin-top: 10%;
  }

  #img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 85%;
	padding: 0;
	height: 237x;
  }

  p {
	padding: 0;
	margin: 0;
  }
}